[submodule "lib/lcspec"]
	path = lib/lcspec
	url = ../lcspec
[submodule "lib/timer"]
	path = lib/timer
	url = ../timer
[submodule "lib/crc"]
	path = lib/crc
	url = ../crclib
[submodule "lib/osspec"]
	path = lib/osspec
	url = ../osspec

