[submodule "lib/lcspec"]
	path = lib/lcspec
	url = ../lcspec
[submodule "devs/e502/libusb-1.0"]
	path = devs/e502/libusb-1.0
	url = ../libusb
[submodule "lib/osspec"]
	path = lib/osspec
	url = ../osspec
[submodule "lib/ltimer"]
	path = lib/ltimer
	url = ../ltimer
[submodule "lib/crc"]
	path = lib/crc
	url = ../crclib

